*{
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li{
    cursor: pointer;
}

.nav-btn{
    padding: 10px 18px;
    border: none;
    background: #38bdf8;
    border-radius: 6px;
    cursor: pointer;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: #38bdf8;
}